/* Pantalla celular */
@media only screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    .caja1{
        background-color: #78c054;
        width: 250px;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        margin: 10px;
        
    }
    
    body{
        background-color: white;
        background: linear-gradient( rgb(232, 245, 185) , #abe98c);
    }
    
    h1{
        color:black ;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    h2{
        color: black ;
        font-family: 'Ibarra Real Nova', serif;
    }
    h3{
        color: rgb(52,129,8) ;
        text-align: right;
        font-family: 'Ibarra Real Nova', serif;
    }
    .modif{
        color: rgb(52,129,8) ;
        text-align: left;
        font-family: 'Ibarra Real Nova', serif;
    }
    
    h4{
        color:rgb(146, 235, 102) ;
    }
    .txt{
        color: white;
        font-style: italic;
        align-content: space-around;
    }
    nav{
        padding: 1rem;
    }
    div{
        margin: 10px;
    }
    .menu{
        list-style-type: none;
        margin: 5px;
       
    }
    .menu li{
        display:inline-block;
        text-align: center;
        margin: 10px;
        background-color: rgb(88, 163, 50);
        float: none;
        width: 100%;
        padding: 10px 20px;
        max-width: 200px;
        text-shadow: 1px 1px black;
    }
    .menu li a{
        text-decoration: none;
        color: white;
    }
    .menu li:hover{
        background-color:  rgb(112, 206, 65);
        color: white;
        border-radius: 20%;
        
    }
    .cajaIndex{
        width: 90%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1 fr;
        grid-template-rows: 2 fr auto;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-areas: 
        "caja1" 
        "img" ;
        gap: 5px;
    }
    

    .gridArgenetics{
        width: 95%;
        margin: 10px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1 fr;
        grid-template-rows: 8 fr;
        column-gap: 5px;
        row-gap: 5px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        grid-template-areas: 
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
        "gridArgenetics"
         ;
        gap: 100px;
       
    }

    .gridNord{
        width: 95%;
        margin: 10px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1 fr;
        grid-template-rows: 8 fr;
        column-gap: 5px;
        row-gap: 5px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        grid-template-areas: 
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord"
        "gridNord";
        gap: 50px;
       
    }

    .gridSurcos{
        width: 70%;
        margin: 5px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1 fr;
        grid-template-rows: 3 fr;
        column-gap: 5px;
        row-gap: 5px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        grid-template-areas: 
        "gridSurcos"
        "gridSurcos"
        "gridSurcos";
        gap: 50px;
       
    }

    .table{
        width: 70%;
        margin: 15px;
        text-align: center;
    }
    
    h2{
        margin: 2rem;
        text-align: center;
        background-color: rgb(120, 192, 84);
        
    }
    
    .img{
        
        margin: 10px;
        list-style-type: none;
        border: 5px double;
        transition: transform 15s;
        
    }
    
    img:hover{
        opacity: 1;
        border: solid white;
        transform: scale(1.1, 1.1);
        
    }
    
    
    .logo{
        margin: 30px;
        padding-left: 30px;
    }

    hr{
        border: 2px solid #1e2524;
        border-radius: 40px /2px;
        height: 0px;
        text-align: center;
        
    }
    a:hover{
        color: black;
    }
    a:link{
        color:black;
    }
    a:active{
        color:black;
    }
    a{
        color:black;
    }

    .botonHome{
        list-style-type: none;
        display:inline-block;
        text-align: center;
        margin: 5px;
        background-color: rgb(88, 163, 50);
        padding: 5px;
    }
}
/* Pantalla PC */
@media only screen and (min-width: 481px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    .caja1{
        background-color: #78c054;
        width: 250px;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        margin: 10px;
    }

    .cajaIndex{
        width: 90%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 2 fr;
        grid-template-rows: 1 fr auto;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-areas: 
        "caja1 img" ;
        gap: 5px;
    }
    
    body{
        background-color: white;
        background: linear-gradient( rgb(232, 245, 185) , #abe98c);
    }
    
    h1{
        color:black ;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    h2{
        color: black ;
        font-family: 'Ibarra Real Nova', serif;
    }
    h3{
        color: rgb(52,129,8) ;
        text-align: right;
        font-family: 'Ibarra Real Nova', serif;
    }
    .modif{
        color: rgb(52,129,8) ;
        text-align: left;
        font-family: 'Ibarra Real Nova', serif;
    }
    
    h4{
        color:rgb(146, 235, 102) ;
    }
    .lead{
        color: white;
    }
    nav{
        padding: 1rem;
    }
    div{
        margin: 10px;
    }
    .menu{
        list-style-type: none;
        margin: 2px;
    }
    .menu li{
        display:inline-block;
        text-align: center;
        margin: 5px;
        background-color: rgb(88, 163, 50);
        padding: 10px;
    }
    .menu li a{
        text-decoration: none;
        color: white;
    }
    .menu li:hover{
        background-color:  rgb(112, 206, 65);
        color: white;
        border-radius: 10%;
    }
    
    .gridArgenetics{
        width: 95%;
        margin: 10px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 4 fr;
        grid-template-rows: 3 fr;
        column-gap: 5px;
        row-gap: 5px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        grid-template-areas: 
        "gridArgenetics gridArgenetics gridArgenetics gridArgenetics"
        "gridArgenetics gridArgenetics gridArgenetics gridArgenetics"
        "gridArgenetics gridArgenetics gridArgenetics gridArgenetics";
        gap: 100px;
       
    }

    .gridNord{
        width: 95%;
        margin: 10px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 4 fr;
        grid-template-rows: 2 fr;
        column-gap: 5px;
        row-gap: 5px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        grid-template-areas: 
        "gridNord gridNord gridNord gridNord"
        "gridNord gridNord gridNord gridNord";
        gap: 90px;
       
    }

    .gridSurcos{
        width: 108%;
        margin: 10px auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1 fr;
        grid-template-rows: 1 fr;
        column-gap: 10px;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
        align-self: center;
        grid-template-areas: 
        "gridSurcos gridSurcos gridSurcos gridSurcos";
        gap: 100px;
       
    }

    .gridSurcos.img:hover{
        opacity: 1;
        border: solid white;
        transform: scale(1.1, 1.1);
    }

    .Contacto{
        width: 95%;
        margin: 10px auto;
    }
    .Representantes{
        width: 95%;
        margin: 20px auto;
    }
    
    .historia{
        width: 95%;
        margin: 20px auto;
    }

    h2{
        margin: 2rem;
        text-align: center;
        background-color: rgb(120, 192, 84);
        
    }
    
    .img{
        
        margin: 10px;
        list-style-type: none;
        border: 5px double;
        transition: transform 15s;
        
    }
    
    img:hover{
        opacity: 1;
        border: solid white;
        transform: scale(1.1, 1.1);
    
    }
    
    
    .logo{
        margin: 30px;
        padding-left: 30px;
    }

    .table{
        width: 90%;
        margin: 85px;
        text-align: center;
        
    }

    hr{
        border: 2px solid #1e2524;
        border-radius: 40px /2px;
        height: 0px;
        text-align: center;
        
    }
    a:hover{
        color: black;
    }
    a:link{
        color:black;
    }
    a:active{
        color:black;
    }
    a{
        color:black;
    }
    
    .botonHome{
        list-style-type: none;
        display:inline-block;
        text-align: center;
        margin: 5px;
        background-color: rgb(88, 163, 50);
        padding: 5px;
    }
   

}