footer {
  background-color: darkcyan; }

h1 {
  font-size: 2rem; }

main {
  background-color: darkcyan; }
  main h2 {
    font-size: 2rem;
    text-align: center; }
  main .gridArgenetics {
    justify-content: space-around;
    padding: 50px;
    display: contents; }
    main .gridArgenetics .grillaImagenes {
      padding: 10px;
      border-color: white;
      justify-content: space-around; }
      main .gridArgenetics .grillaImagenes:hover {
        border-radius: 20%; }
  main .gridNord {
    justify-content: space-around;
    padding: 50px;
    display: contents; }
    main .gridNord .grillaImagenes {
      padding: 10px;
      border-color: white;
      justify-content: space-around; }
      main .gridNord .grillaImagenes:hover {
        border-radius: 20%; }
  main .gridSurcos {
    justify-content: space-around;
    padding: 50px;
    display: contents; }
    main .gridSurcos .grillaImagenes {
      padding: 10px;
      border-color: white;
      justify-content: space-around; }
      main .gridSurcos .grillaImagenes:hover {
        border-radius: 20%; }

table {
  background-color: #3c4242;
  color: blanchedalmond;
  text-align: center; }
