$back-color: darkcyan; 
$grilla-color: rgb(60, 66, 66);
footer{
    background-color:$back-color;
}
h1{
    font-size: 2rem;
    
}
main{
        background-color: $back-color;
        h2{
            font-size: 2rem;
            text-align: center;
        }
        .gridArgenetics{
            justify-content:space-around;
            padding: 50px;
            display:contents;
            
            .grillaImagenes{
                padding: 10px;
                border-color: white;
                justify-content:space-around;

                &:hover{
                    border-radius: 20%;
                }
            }
        }
        .gridNord{
            justify-content:space-around;
            padding: 50px;
            display:contents;
            
            .grillaImagenes{
                padding: 10px;
                border-color: white;
                justify-content:space-around;

                &:hover{
                    border-radius: 20%;
                }
            }
        }
        .gridSurcos{
            justify-content:space-around;
            padding: 50px;
            display:contents;
            
            .grillaImagenes{
                padding: 10px;
                border-color: white;
                justify-content:space-around;

                &:hover{
                    border-radius: 20%;
                }
            }
        }
}
table{
    background-color: $grilla-color; 
    color: blanchedalmond;
    text-align: center;
}